@model LoginModel

@{
    ViewBag.Title="Iniciar";
}

<form method="post">
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left"></div>
        <div class="col-md-9 register-right">
            <div class="tab-content">
                <div class="col-md-6">
                    <div class="form-group">
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                        <input asp-for="Usuario" class="form-control" placeholder="Usuario" type="text"/>
                    </div>
                    <br/>
                    <div class="form-group">
                        <span asp-validation-for="Clave" class="text-danger"></span>
                        <input asp-for="Clave" class="form-control" placeholder="Password" type="Password"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Log in" class="btn btn-primary" asp-action="Login" asp-controller="Cuenta"/>
                </div>
            </div>
        </div>
    </div>
</div>
</form>